body {
	background-color: #C9EAF6;
}

#bookcontainer { /* Container of phonebook and other elements */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 970px;
	height: 700px;
	background-color: none;
	border: none;
}

#book {
	position: relative;
	transform: translate(-50%, -50);
	width: 970px;
	height: 700px;
	background-color: none;
	border: none;
}

.contactlist {
	width: 970px;
	text-align: left;
	border: none;
	border-collapse: separate; /* it must be collapse */
	top-border: 1px;
}


.tlItem {
	height: 30px;
	background-color: white;
	right-border: none;
	border: none;
}

.spanSlice {
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
	background-color: white;
	margin: 10px;

}

.spanSlice_colmn_fname {
	position: absolute;
	left: 0;
	width: 191px;
	height: 60px;
	line-height: 60px;
	text-align: left;
	background-color: none;
	border: solid 1px;
	padding: 0 0 0 30px;
}

.spanSlice_colmn_lname {
	position: absolute;
	left: 221px;
	width: 191px;
	height: 60px;
	line-height: 60px;
	text-align: left;
	background-color: none;
	border: solid 1px;
	padding: 0 0 0 30px;
}

.spanSlice_colmn_gender {
	position: absolute;
	left: 442px;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: left;
	background-color: none;
	border: solid 1px;
	padding: 0 0 0 20px;
}

.spanSlice_colmn_bday {
	position: absolute;
	left: 542px;
	width: 191px;
	height: 60px;
	line-height: 60px;
	text-align: left;
	background-color: none;
	border: solid 1px;
	padding: 0 0 0 30px;
}

.spanSlice_colmn_num {
	position: absolute;
	left: 763px;
	width: 174px;
	height: 60px;
	line-height: 60px;
	text-align: left;
	background-color: none;
	border: solid 1px;
	padding: 0 0 0 30px;
}


input[type=text].frmInput {
	width: 115px;
	margin: none;
	border: none;
}

input[type=date].frmInput {
	margin: none;
	border: none;
}

input[type=submit].frmInput {
	display: none;
}

select.frmInput {
	border: 0px;
	outline: 0px;
}

.tllink {
	text-decoration: none;
	color: none;
}


/* contact_view.php */
#vcard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 400px;
	width: 300px;
	background-color: white;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	overflow: auto;
}

#vcard_namegreet {
	position: absolute;
	top: 18px;
	left: 18px;
	color: #9BD0E4;
	font-size: 40px;
}

#vcard_namegreet_hello {
	font-size: 34px;
	color: #FFDC87;
}

#info_holder {
	position: absolute;
	top: 105px;
	left: 20px;
	font-size: 18px;
}

.vcard_title {
	height: 30px;
	width: 100px;
	color: #FF9B87;
}

.vcard_val {
	color: #FF9C87;
}

#vcard_buttons {
	position: absolute;
	top: 290px;
	left: 20px;
	height: 50px;
	width: 260px;
	background-color: none;
}

#vcard_edit {
	position: absolute;
	height: 45;
	width: 110px;
	left: 10px;
	background-color: #9BD0E4;
	border-radius: 8px;
	text-align: center;
	line-height: 45px;
}

#vcard_delete {
	position: absolute;
	background-color: #ff4000;
	height: 45px;
	width: 110px;
	left: 140;
	border-radius: 8px;
	text-align: center;
	line-height: 45px;
}

.vcard_input {
	width: 140px;
	color: #FF9B87;
}

#bback {
	position: absolute;
	top: 355px;
	left: 16px;
	font-size: 28px;
}

a:link.vcardbtn {
	color: white;
	text-decoration: none;
}

a:visited.vcardbtn {
	color: white;
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

input[type=submit].save {
	position: absolute;
        background-color: #9BD0E4;
	color: white;
        height: 45px;
        width: 110px;
        left: 140;
        border-radius: 8px;
	border: none;
        text-align: center;
        line-height: 45px;
	font-size: 17px;
	cursor: pointer;
}

input[type=text].vcard_input {
	border-radius: 5px;
	border: none;
	border-width: 1px;
	height: 28px;
	padding: 5px;
	box-shadow: inset 0 0 3px #000000;
}

input[type=date].vcard_input {
	border-radius: 5px;
	border: none;
	border-width: 1px;
	height: 28px;
	padding: 5px;
	box-shadow: inset 0 0 3px #000000;
}

select.vcard_input {
	border: 0px;
	outline: 0px;
}
